html {
    /*position: relative;*/
    /*min-height: 100%;*/
}

body {
    /*  padding-bottom: 30px;*/
    
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;*/
}

form {
    padding-bottom: 10px;
}

#botinput {
    width: 150px;
}

.footer {
    text-align: center
}